# This is the timer to change wallpapers
[Unit]
Description=Set a random wallpaper every minute

[Timer]
Persistent=true
OnCalendar=*:0/30

[Install]
WantedBy=timers.target






